<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>DeepTech</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap core css -->
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index">
            <span>
              DeepTech
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="detector"> DeepFake Detectors </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="faq">FAQ</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="about"> About Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact"> Contact Us</a>
                </li>
                <li class="custom-nav-item">
                  {% if user_logged_in %}
                  <div class="custom-nav-item dropdown">
                      <a class="custom-nav-link dropdown-toggle" href="#" id="customNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ user_name }}
                      </a>
                      <div class="custom-dropdown-menu" aria-labelledby="customNavbarDropdown">
                          <a class="custom-dropdown-item" href="history">Detection History</a>
                          <a class="custom-dropdown-item" href="logout">Sign Out</a>
                      </div>
                  </div>
                  {% else %}
                  <a class="custom-nav-link" href="login">
                      <i class="custom-sign-in-icon" aria-hidden="true"></i>Sign In</a>
                  {% endif %}
              </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>


  <!-- trainer section -->

  <section class="deepfake_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Select Your Deepfake Content Type
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                <i class= "fa fa-play-circle-o" aria-hidden="true"></i>Video
              </h5>
            </div>
            <div class ="img-box">
              <a href = "video">
                <video autoplay loop muted>
                <source src="{{ url_for('static', filename='videos/video.mp4') }}" type="video/mp4">
              </video>
            </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
          <div class="box">
            <div class="name">
              <h5>
                <i class= "fa fa-file-picture-o" aria-hidden="true"></i>Image
              </h5>
            </div>
            <div class="img-box">
              <a href = "image"><img src="{{ url_for('static', filename='images/image.jpg') }}" alt=""></a>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end trainer section -->

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                Jalan Sungai Long, Bandar Sungai Long, 43000 Kajang, Selangor
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                +031234567890
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                deeptech@gmail.com
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved. Design by DeepTech
    </p>
  </footer>
  <!-- footer section -->

  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</body>

</html>